<% layout('layout') -%>

  <h1>Welcome to <%- title %></h1>
  <p>Please Choose which property you would like to monitor</p>
  <ul id="entityList">
  <% for (var i = 0; i < servers.length; i++) { %>
    <li>
    <a href="/watch/<%- servers[i].Property %>"><%- servers[i].Property %>  <span class="servercount"> Pinnacle Servers: <%- servers[i].Pinnacle_Servers.length %></span> <br ><span class="servercount"> Foundation Servers: <%- servers[i].Foundation_Servers.length %></span></a>
    <div class="sub">
      <ul>
        <li><a href="/watch/<%- servers[i].Property %>/Pinnacle">Pinnacle <span class="servercount"><%- servers[i].Pinnacle_Servers.length %></span></a> </li>
        <li><a href="/watch/<%- servers[i].Property %>/Foundation">Foundation <span class="servercount"><%- servers[i].Foundation_Servers.length %></span></a> </li>

      </ul>
    </div>
    </li>
  <% } %>
  </ul>
 